body
{
    background-color: #1c1d1f /* #3a3a3a*/;
    font-size: 20px;
    color: rgb(12, 194, 6);
    font-family: Consolas;
    text-align: center;
	word-wrap: break-word;
}
.errorScreen
{
    margin-right: 6px;
    color: red;
    padding: 0px;
    text-align: left;
}
.lamp
{
    height: 20px;
    width: 20px;
    margin-top: 8px;
    margin-right: 6px;
    border-radius: 50%;
    background-color: rgb(72, 72, 73);
}
.errCnc
{
    margin-left: 21px;
    margin-right: 3px;
}
textarea
{
    background-color: #000000;
    color:rgb(12, 194, 6);
    font-size: 28px;
    font-family: Consolas;
    resize: none;
}
.buttonResize
{
    height: 42px;
    width: 42px;
    margin-left: 6px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 20px;
    font-family: Consolas;
    background-color: #383a3d;
    color: white;
}
.buttonConfig
{
    float: left;
    height: 42px;
    width: 60px;
    margin-right: 6px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 20px;
    font-family: Consolas;
    color: white;
}
#all
{
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    font-family: Consolas;
    border:rgb(21, 119, 12);
    display: flex;
    justify-content: center;
    vertical-align: middle;
    /*align-items: center;*/
}
#content
{
    float: left;
}
    #part1
    {
        margin-top: 50px;
    }
        #errorSpace1, #errorSpace2
        {
            float: left;
        }
            #lamp1, #lamp2
            {
                float: left;
            }
            #errScreen1, #errScreen2
            {
                float: left;
            }
            #errCnc1, #errCnc2
            {
                /*height: 67px;*/
                width: 100px;
            }
            .errCnc
            {
                /*height: 67px;
                width: 46px;*/
                background-color: #1c1d1f;
                border: none;
            }
                #errCnc1_img, #errCnc2_img
                {
                    height: 100%;
                    width: 100%;
                }
        #screen1
        {
            /*width: 925px;*/
            float: left;
        }
        #resize1, #resize2
        {
            float: left;
        }

    #part2
    {
        margin-top: 12px;
    }
        #screen2
        {
            float: left;
            margin-bottom: 50px;
        }

    #config
    {
        margin-top: 12px;
        margin-left: 100px;
    }
        #btnConfCUp, #btnConfCDown
        {
            background-color: rgb(80, 47, 47);
        }
        #btnConfCopyUp, #btnConfCopyDown
        {
            background-color: rgb(64, 102, 92);
        }
        #btnConfPasteUp, #btnConfPasteDown
        {
            background-color: rgb(64, 79, 102);
        }
        #btnConfCrypto
        {
            width: 88px;
            background-color: rgb(104, 99, 35);
        }

#system
{
    float: left;
    margin-top: 50px;
    margin-left: 18px;
}
    #connector
    {
        width: 150px;
        margin-bottom: 12px;
        padding: 0px;
        background-color: #1c1d1f;
        border: none;
    }
        #connector_img
        {
            height: 100%;
            width: 100%;
        }
    #selector
    {
        border: white;
        padding-top: 2px;
        padding-left: 2px;
        padding-right: 1px;
        padding-bottom: 1px;
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }
        #selector_img
        {
            height: 100%;
            width: 100%;
        }
